.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Kakao-logo {
  height: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  /*color: white;*/
  color: '#3f51b5'
}

.App-link {
  color: #61dafb;
}

.gradient-border {
  /*width: 400px;
  padding: 25px;*/
  border: 3px solid transparent;
 /* border-image: linear-gradient(to right, green, lightgreen); */
  border-image: linear-gradient(to right, blue, rgb(10, 184, 241)); 
  border-image-slice: 1;
  border-radius: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
   url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'godoMaum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff') format('woff');
  font-weight: normal;
  font-size:300;
  font-style: normal;
}

@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
          
.godo * {
  font-family: 'KyoboHand', sans-serif;
 }
 